$clr-grayish-blue: #666ca3;
$clr-black: #13183f;
$clr-gray: #83869a;

$clr-pink: #f74780;
$clr-light-pink: #ffa7c3;
$clr-white: #fff;

$bg-gradient-primary: linear-gradient(#ff6f48, #f02aa6);
$bg-gradient-secondary: linear-gradient(#4851ff, #f02aa6);

$bg-gradient-body: linear-gradient(#fff, #f0f1ff);

/* @mixin light-theme {
  --background-primary: #fff;
  --text-primary: #121212;
}

@mixin dark-theme {
  --background-primary: #121212;
  --text-primary: #ffffff;
}
 */
