// layout
$container-max-width: 1440px;
$container-padding-x: 2rem;

$flow-space: 1em;

$container-padding-sm-x: 1rem;
$container-padding-sm-y: 1rem;
$container-padding-md-x: 39px;
$container-padding-md-y: 24px;

$container-padding-lg-x: 165px;
$container-padding-lg-y: 24px;

$card-padding-x: 28px;
