@use "../abstracts/" as *;
.header {
    width: 100%;

    div > *,
    img {
        margin-top: 1.5rem;
    }

    @include mq("sm") {
        display: flex;

        height: 500px;
        margin-bottom: 200px;
        position: relative;
        img {
        }
        div {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        picture {
            position: absolute;
            right: -50%;
            width: 100%;
            top: -35%;
            z-index: -1;
            img {
                position: relative;
                width: 100%;
            }
        }
    }

    @include mq("md") {
        margin-bottom: 300px;
        picture {
            top: -45%;
        }
    }
}
